body {
  background-color: #012;
  color: #ffffff;
  font-family: monospace;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}

#clock {
  font-size: 3rem;
}

#secret_input {
  position: absolute;
  top: -100vh;
  left: 0;
}

.letter {
  display: inline-block;
  border: 1px solid gray;
  width: 1.2em;
  height: 2em;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
}

#toggle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: .5em 1em;
  overflow: hidden;
}

#flyout {
  background-color: #222;
  border-right: 1px solid #777;
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;
  height: 100vh;
  padding: 3em 1em 1em;

  transition: left .25s;
}

#flyout .text-input {
  margin: 1rem 0;
}

#flyout .text-input label,
#flyout .text-input input {
  display: block
}

#menu.hidden #flyout {
  left: -40vw;
}

#overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#menu.hidden #overlay {
  display: none;
}

.pancake {
  position: relative;
  width: 2rem;
  height: 1rem;
}

.pancake > div {
  width: 100%;
  background-color: #fff;
  height: 30%;
  margin: .3rem;
  border-radius: 2px;
}